body{
       background: grey;
       margin: 0;
       padding: 0;
}

.nav_bar{
       background-color: rgba(0, 0, 0, 0.2) ;
       text-align: center;
       justify-content: space-between;
       display: flex;
       flex-direction: row;
       
}

.nav_bar nav ul{

       display: flex;
       flex-direction: row;
       position: relative;
       align-items: center;
       width: auto;
       height: 65%;
}

.nav_bar nav ul li a 
{
       color: white;
       text-decoration: none ;
       position: relative;
       padding: 29px 70px;
}

.nav_bar nav ul li a:hover
{
       background: rgba(0, 0, 0, 0.4);
       transition: 1s;
}

.nav_bar nav ul li 
{
       text-decoration: none;
       list-style-type: none;
       text-decoration: none;
       cursor: pointer;
       background-color: transparent;
       padding: 29px 0px;
       border: 1px solid rgba(0, 0, 0, 0.5);
}

.name_group{
       background: #BD1FCF;
       background: linear-gradient(to right, #BD1FCF 15%, #A263FF 50%, #23CFCF 100%);
       -webkit-background-clip: text;
       -webkit-text-fill-color: transparent;
       margin: 5px 10px;
       padding: 0;
       font-size: 20px;
}
