body{
       background: grey;
}

.nav_bar
{
       background-color: rgba(0, 0, 0, 0.2) ;
       justify-content: center;
       text-align: right;
       margin: 10px 10px;
}

.nav_bar nav ul li 
{
       text-decoration: none;
       list-style-type: none;
       text-align: right;
       position: relative;
       margin: 15px 15px 20px 15px ;
       background-color: transparent ;
       margin: 0px;
       padding: 25px 50px;
       text-decoration: none;
       cursor: pointer;
       background-color: blue ;
}

.nav_bar nav ul li:hover
{
       background-color: rgba(0, 0, 0, 0.4);
}


.nav_bar nav ul li a 
{
       color: black;
       text-decoration: none ;
       background-color: red;
       position: relative;
}
.nav_bar nav ul
{
       display:flex;   
       align-items: right;
       position: relative;
       justify-content: flex-end;
}
.nav_A
{
       font-size: 20px;
}