body
{
       display: flex;
       background: rgba(0,0,0,0.9);
       margin: 20px;
       padding: 0px;
}
.content
{
       display: inline-block;
       justify-content: center;
       align-items: center;
       padding: 0% 31%;
}

a
{
       list-style: none;
       text-decoration: none;
}



.person_content
{
       background: rgba(0,0,0,0.5);
       width: 600px;
       height: auto;;
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       margin: 10px 0px;
       border-radius: 15px;
}

p
{
       background: rgba(57, 49, 49, 0.4);
       font-family: Copperplate, Copperplate Gothic Light, fantasy;
       border-radius: 15px;
       padding: 5px;
       color: white;
}

img.logo
{
       margin: 20px 20px 10px 20px;
}